{% extends 'app/layout.html' %}

{% load static %}
{% block title%}Main Page{% endblock%}
{%block search%}
    <div class="search-container">
        <div class="search">
            <label for="site-search">
                <i class="fas fa-lg fa-search"></i>
            </label>
            <input type="search" name="S" placeholder = "Search" id="site-search">
        </div>
    </div>
{% endblock %}

{% block content%}
        <div class="main-posts">
                <div class="post-video">
                    <div class="post-face">
                        <img src="{{user.image.url}}" alt="profile" id= "post-avatar">
                    </div>
                    <div class="post-stuff">
                        <div class="top-post">
                            <input type="text"  placeholder="What's to share?" id="your-caption description">
                        </div>

                        <div class="bottom-post">
                            <input type="file" id="real-file" accept='video/*' hidden="hidden" />
                            <i class="fas fa-2x fa-film" id="custom-button"></i>
                            <i class="far fa-2x fa-handshake"></i>
                            <button id = "post-btn" type="submit">Post</button>
                        </div>
                    </div>
                </div>
        </div>

        <div class="nasa-app"></div>
    </div>

    {% endblock %}
