{% load static %}
<!DOCTYPE html>



<html>

    <head>
        <link href = "{% static 'app/mainPage.css' %}" rel = "stylesheet"><!--Link for css, you can find it under static/app/index.css -->
        <!--Link for Js, under static/app/index.js-->
    </head>

    <body>
        <div class = "post-container">

        </div>
        <div class = "categories-container">

        </div>

        <div class = "article-container">
            
        </div>
        
        
    </body>

    <script src = "{% static 'app/mainPage.js' %}"></script>

</html>