<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous"/>
    <link href="https://fonts.googleapis.com/css2?family=Gayathri:wght@100&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Taviraj:wght@300;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <title>Profil</title>
</head>
<body>
    <div class="profil-container">
        <div class="categories">
           
        </div>
        <main class="profil">
            <div class="about-me">
                <div class="top-i">
                    <i class="fas fa-2x fa-chevron-left" id = "return-i"></i>
                    <i class="fas fa-2x fa-bell" id = "bell-i"></i>
                    <i class="fas fa-2x fa-ellipsis-h" id = "settings-i"></i>
                </div>
                <div class="p-data">
                    <span id="name">Hajar Zaiz</span>
                    <img src="imgs/avatar.png" alt="" id="picture">
                    <i class="fas fa-2x fa-plus-circle" id= "update-img"></i>
                    <span id="username">@hajarzaiz</span>
                    <span id="bio">What were they eating? It didn't taste like anything she had ever eaten before and although she was famished, she didn't dare ask. </span>
                    <div class="follow-info">
                        <div id="followers">
                            <span>Followers</span>
                            <span id="followers-cnt">0</span>
                        </div>
                        <div id="following">
                            <span>Following</span>
                            <span id="following-cnt">0</span>
                        </div>
                        <div id="rating">
                            <span>Rating</span>
                            <span id="rating-cnt">0</span>
                        </div>
                    </div>
                    <div id="profil-buttons">
                        <button class="follow-btn">Follow</button>
                        <button class="edit-btn">Edit Profil</button>
                    </div>
                </div>
            </div>
        </main>
    </div>
</body>
</html>