{% extends 'app/layout.html' %}

{% load static %}
{% block title%}Profil{%endblock%}

{% block styles%}

    <link rel="stylesheet" href="{% static 'app/style.css' %}">
    {% endblock %}

</head>
<body>
    {% block content%}
        <main class="profil">
            <div class="about-me">
                <div class="top-i">
                    <i class="fas fa-2x fa-chevron-left" id = "return-i"></i>
                    <i class="fas fa-2x fa-bell" id = "bell-i"></i>
                    <i class="fas fa-2x fa-ellipsis-h" id = "settings-i"></i>
                </div>
                <div class="p-data">
                    <span id="name">{{profile.name}}</span>
                    <img src="{{profile.image.url}}" alt="{{profile.image.url}}" id="picture">
                    <i class="fas fa-2x fa-plus-circle" id= "update-img"></i>
                    <span id="username">@{{profile.username}}</span>
                    <span id="bio"> {{profile.bio}} </span>
                    <div class="follow-info">
                        <div id="followers">
                            <span>Followers</span>
                            <span id="followers-cnt">{{profile.followers_count}}</span>
                        </div>
                        <div id="following">
                            <span>Following</span>
                            <span id="following-cnt">{{profile.followees_count}}</span>
                        </div>
                        <div id="rating">
                            <span>Rating</span>
                            <span id="rating-cnt">0</span>
                        </div>
                    </div>
                    <div id="profil-buttons">
                      {% if profile.id != user.id %}
                        <button class="follow-btn" id = "follow-btn"
                        data-followers_count = "{{profile.followers_count }}"
                        data-user_id = "{{ profile.id }}"
                        data-is_followed="{{is_followed}}">{% if is_followed%}Unfollow{% else %}Follow{%endif%}</button>
                      {% else %}
                        <button class="edit-btn">Edit Profil</button>
                      {% endif %}
                    </div>
                </div>
            </div>
        </main>
    </div>
    {% endblock%}
    {%block script%}
<script src = "{% static 'app/profile.js' %}"></script>

{%endblock%}
